@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-color: #593520;

.container {
    width: 1440px;
    margin: auto;
    overflow: hidden;

    header {
        .home-wrapper {
            background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4) ), url("../../assets/img/home-image.png");
            width: 1440px;
            height: 844px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-repeat: no-repeat;

            p {
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 96px;
                line-height: 131px;
                color: #FFFFFF;
                width: 545px;
                height: 262px;
                margin-right: 101px;
            }
        }
    }

    .info {
        height: 379px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .icons-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100px;

            span {
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 49px;
                color: $font-color;
            }
        }
    }

    .icons-proportions {
        transform: scale(2.5);
        color: $font-color;
    }
}
