<div class="container">
    <header>
        <nav class="nav-wrapper">
            <span>Best Coffee</span>
            <div class="icon-wrapper">
                <mat-icon class="material-icons icon-color">place</mat-icon>
                <span>Locations</span>
            </div>
        </nav>
        <div class="home-wrapper">
            <p>Best Coffee In Town</p>
        </div>
    </header>
    <div class="info">
        <div class="icons-wrapper">
            <mat-icon  class="material-icons icons-proportions">local_cafe</mat-icon>
            <span>Best Coffee</span>
        </div>
        <div class="icons-wrapper">
            <mat-icon  class="material-icons icons-proportions">place</mat-icon>
            <span>Many Locations</span>
        </div>
        <div class="icons-wrapper">
            <mat-icon class="material-icons icons-proportions">meeting_room_black_48dp</mat-icon>
            <span>Open 24/7</span>
        </div>
    </div>
</div>
