<div class="container">
    <header>
        <app-navigation routerLink="/location" routerLinkActive="active"></app-navigation>
        <div class="home-wrapper">
            <p>Best Coffee In Town</p>
        </div>
    </header>
    <div class="info">
        <div class="icons-wrapper">
            <mat-icon  class="material-icons icons-proportions">local_cafe</mat-icon>
            <span>Best Coffee</span>
        </div>
        <div class="icons-wrapper">
            <mat-icon  class="material-icons icons-proportions">place</mat-icon>
            <span>Many Locations</span>
        </div>
        <div class="icons-wrapper">
            <mat-icon class="material-icons icons-proportions">meeting_room</mat-icon>
            <span>Open 24/7</span>
        </div>
    </div>
</div>
